/************************** PAGE ADMIN **************************/

.backP{
  float: left;
  margin-left: 30%;
  border: 2px solid  #00aec7;
  color: #00aec7;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 1% 3%;
  font-variant: small-caps;
}
.backP:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#00aec7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.backP:hover, .backP:focus, .backP:active {
  color: white;
  cursor: pointer;
  outline: none;
}
.backP:hover:before, .backP:focus:before, .backP:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.backT{
  float: right;
  margin-right: 30%;
  border: 2px solid #00aec7;
  color: #00aec7;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 1% 3%;
  font-variant: small-caps;
}
.backT:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00aec7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.backT:hover, .backT:focus, .backT:active {
  color: white;
  cursor: pointer;
  outline: none;
}
.backT:hover:before, .backT:focus:before, .backT:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hide{
  display: none;
}
.admin-title{
  text-align: center;
  margin-bottom: 2%;
  color:#00aec7;
}
form{
  margin-right: auto;
  margin-left: auto;
}
fieldset{
  border: none;
  box-shadow: 0 0 5px #00aec7;
}
.main-form  { display: table; }
.p     { display: table-row;  }
.label { display: table-cell; }
.input { display: table-cell; }
.select { display: table-cell; }
.textarea { display: table-cell; }

.select, .input, .textarea{
  width: 100%;
  height: 25px;
  font-family: "Poppins_Regular","Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 17px;
}
label{
  vertical-align: top;
  font-size: 1.2em;
  padding-right: 2%;
  color: #00aec7;
  font-weight: bold;
}
textarea{
  resize: vertical;
}
label, input, select, textarea{
  margin-bottom: 2%;
}
.add-cta{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 2%;
  padding: 2% 6%;
  background-color: white;
  font-variant: small-caps;
}
.inside-form-fieldset{
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}
.submit{
  background-color: white;
  padding: 18px 43px;
  border: 2px solid  #00aec7;
  color: #00aec7;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 4%;
}
.submit:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#00aec7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.submit:hover, .submit:focus, .submit:active {
  color: white;
  cursor: pointer;
  outline: none;
}
.submit:hover:before, .submit:focus:before, .submit:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.cancel{
  padding: 18px 43px;
  background-color: white;
  font-variant: small-caps;
  border: 2px solid  #ff5050;
  color: #ff5050;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 2%;
}
.cancel:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff5050;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.cancel:hover, .cancel:focus, .cancel:active {
  color: white;
  cursor: pointer;
  outline: none;
}
.cancel:hover:before, .cancel:focus:before, .cancel:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.confirm-msg{
  margin-right: auto;
  margin-left: auto;
}
.colorcheck{
  padding: 1% 3%;
}
.error{
  text-align: center;
  color: red;
  font-size: 30px;
  line-height: 2em;
  font-weight: bold;
}
/***************************************PAGE LISTER ***************************/

.list-project-table{
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  font-size: 1.2em;
}
.head{
  color:#00aec7;
  font-size: 1.2em;
  font-variant: small-caps;
  border-bottom: 1px solid #00aec7;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}
.tblalg{
  text-align: center;
}
.sbmt{
  color: #333;
}
.sbmt:hover{
  color: #00aec7;
  transition: all 0.3s;
}
table{
  border-spacing: 15px;
}
.lister-legend-fieldset{
  margin: 10%;
}
.lister-legend-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/***************************************PAGE MODIFY ***************************/

.grey-input{
  color: grey;
  opacity: 0.6;
}
.modify-form{
  width: 900px;
}
.inpmdf, .mdfslct{
  width: 300%;
}

/*************************************** PAGE DELETE ***************************/

.confirmsg{
  font-size: 1.6em;
  margin-top: 5%;
  text-align:center;
  display: block;
}
.modifydel{
  padding: 1% 2%;
}
.sbt{
  margin-left: 35%;
}
.cnc{
  margin-right: 35%;
}

/*************************************** RESPONSIVE ***************************/

@media only screen and (max-width: 768px) {
  .inside-form-fieldset{
    margin: 2%;
  }
  .add-cta{
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .lister-legend-fieldset{
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .label{
    font-size: 0.7em;
  }
  .select, .input, .textarea{
    font-size: 10px;
  }
  .admin-title{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin: 3% 0;
  }
  .entite, .description, .level, .statut, .imp {
    display: none;
  }
  .list-project-table{
    font-size: 0.8em;
  }
  table{
    border-spacing: none;
    line-height: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .inside-form-fieldset{
    margin: 0 6% 0 2%;
  }
}
