.conection-title{
  text-align: center;
  margin-bottom: 4%;
  margin-top: -0.5%;
  font-size: 2.8em;
}
.bys{
  max-width: 350px;
  margin-top: 10%;
}
.connection-page{
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.connection-form p{
  text-align: center;
}
.connect-explaination {
  font-size: 1.5em;
  font-weight: bold;
}
.connect-explaination2 {
  font-size: 1.1em;
  margin-bottom: 4%;
}
.register-form{
  text-align: center;
}
.register-front{
  margin-bottom: 3%;
  padding: 2% 3%;
  border-radius: 30px;
  border: 2px solid #00aec7;
  width: 60%;
  height: 25%;
}
.register-front:focus{
  outline: none;
}
.red-star{
  color:  #d9534f;
  font-weight: bold;
}
.register-btn{
  border: 2px solid #00aec7;
  padding: 2% 12%;
  border-radius: 30px;
  background-color: white;
}
.register-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 5px #00aec7;
}
.register-btn:focus{
  outline: none;
}
.powerbtn{
  font-size: 1.2em;
}
.powerbtn:hover{
  color: white;
  transition: all, 0.3s;
}
.user-icon{
  font-size: 15px;
  padding-left: 15%;
}

/************************** RESPONSIVE **************************/

@media only screen and (max-width: 450px) {
  .bys{
    display: none;
  }
  .conection-title{
    margin-top: 12%;
  }
  .register-front, .register-btn{
    border: 1px solid #00aec7;
  }
  .connect-explaination{
    font-size: 1.2em;
  }
  .powerbtn{
    font-size: 1em;
  }
}
