/***************************** STARTER KIT ****************************/

*{
  box-sizing: border-box;
}
body, html {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  color: #333;
  font-family: "Poppins_Regular","Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
img{
  width: 100%;
  height: auto;
}

/***************************** HEADER ****************************/

.logo{
  max-width: 300px;
  margin: 1%;
}
h1{
  color: #00aec7;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
.main-title{
  text-align: center;
  font-size: 3em;
  margin: 1% 0;
}

/* login and cta */

.login-btn{
  float: right;
  clear: both;
  overflow: hidden;
  margin-top: -6%;
  margin-right: 1%;
  padding: 0.5% 2%;
  background-color: white;
  border-radius: 30px;
  border: 1px solid white;
}
.login-btn:hover{
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.login-btn:focus{
  outline: none;
}
.login-man{
  color: #00aec7;
  font-size: 1em;
}
.login-man:hover{
  color: #00aec7;
}
.ifonline{
  float: right;
  margin-top: -6%;
  clear:both;
  margin-right: 2%;
}
.logged{
  display: flex;
  flex-direction: row;
  margin-top:-2%;
  align-items: center;
  justify-content: space-around;
}
.add-btn, .del-btn, .logout-btn{
  padding: 4.5% 2%;
  height: 35px;
  width: 100px;
  background-color: #e6fcff;
  border-radius: 30px;
  border: 1px solid #00aec7;
}
.add-btn:hover,
.del-btn:hover,
.logout-btn:hover{
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.log-link{
  margin-right: 6%;
}

/***************************** BODY ****************************/

/* Legend */

.blue{
  color: #00aec7;
  font-size: 15px;
  margin-left: 5%;
}
.orange{
  color: #eea928;
  font-size: 15px;
  margin-left: 5%;
}
.white{
  color: #f4edda;
  font-size: 15px;
  margin-left: 5%;
}
.green{
  color: #5cb85c;
  font-size: 15px;
  margin-left: 5%;
}
.red{
  color: #d9534f;
  font-size: 15px;
  margin-left: 5%;
}
.legendspan{
  color: #333;
  font-family: "Poppins_Regular","Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
.container{
  margin: 0 4%;
}
.line{
  border-top: 1px solid #333;
  margin-bottom: 5px;
}
.legend-title{
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 1.4em;
}

/* Directions icons btn */

.btn{
  background-color: white;
  border:none;
  margin-bottom:2%;
  margin-left: 2%;
}
.btndir{
  background-color: white;
  font-size: 20px;
}
.btn:focus{
  outline: none;
}
.btn:hover{
  color:  #00aec7;
  transition: all 0.3s;
}
.intro-flex{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
.btn-section, .legend-section{
  width: 100%;
}
.btn-section{
  text-align: right;
}

/***************************** TIMELINE ****************************/

#visualization{
  margin-bottom: 2%;
}

.vis-label{
  text-align: center;
  vertical-align: middle!important;
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
}
.vis-major{
  font-size: 1em;
  font-weight: bold;
  font-variant: small-caps;
}
.vis-minor{
  margin-left: 5px;
  font-weight: bold;
  color:  #00aec7!important;
}
.vis-current-time{
  background-color: #559ec1
}
.vis-item-overflow{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-shadow: none;
}
#visualization {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.progress-wrapper {
  background: white;
  width: 100%;
  height: 18px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.progress {
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #ccc;
}
.progress-label {
  color: black;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

/* Label colours */

.Non-démarré{
  background-color: #5bc0de;
  border-color:  #5bc0de;
  border-radius: 30px;
}
.En-cours{
  background-color: #eea928;
  border-color: #eea928;
  border-radius: 30px;
}
.En-retard{
  background-color: #f4edda;
  border-color: #f4edda;
  border-radius: 30px;
}
.Livré{
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 30px;
}
.Alerte{
  background-color: #d9534f;
  border-color: #d9534f;
  border-radius: 30px;
}

/* Hided items */

.vis-delete,
.vis-box{
  display: none;
}
#data, #save, #load{
  display: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .ifonline{
    margin-top: -11%;
  }
  @media only screen and (max-width: 799px) {
    .logo{
      max-width: 200px;
    }
    .ifonline{
      margin-top: -10%;
    }
    .add-btn, .del-btn, .logout-btn{
      width: 45px;
      height: 25px;
    }
    .logged{
      justify-content: flex-end;
    }
  }
  @media only screen and (max-width: 670px) {
    .greet{
      display: none;
    }
  }
  @media only screen and (max-width: 670px) {
    .greet{
      display: none;
    }
  }
  @media only screen and (max-width: 540px) {
    .main-title{
      font-size: 1.8em;
      line-height: 1.1em;
      text-align: center;
    }
    .h3{
      font-size: 15px;
    }
    .legendCore{
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
    }
    .fa-circle{
      margin-bottom: 5px;
    }
    .btnCore{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 20px;
    }
    .vis-label{
      text-align: left;
      font-size: 12px;
    }
    .vis-item-overflow{
      font-size: 1em;
    }
    .progress-label{
      font-size: 0.8em;
    }
  }
  @media only screen and (max-width: 340px) {
    .logged{
      display: flex;
      flex-direction: column;
      margin-top: -30px;
    }
    .add-btn, .del-btn, .logout-btn{
      margin-bottom: 5px;
    }
    .main-title{
      margin-top: 15px;
    }
  }
